<section>
  <h2>kanbanView</h2>
  <div id="board">
  </div>
</section>
<nav id="navbar"></nav>

<script type="text/x-handlebars">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="index">
  <h4>Projects</h4>
  {{#each project in model}}
    <li class="project">
      {{#linkTo 'tasks' project.id}}{{project.name}}{{/linkTo}}
    </li>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="task_lists">
  <h4>Task Lists</h4>
  {{#each taskList in model}}
    <li class="task_list">
      {{#linkTo 'tasks' taskList.id}}{{taskList.name}}{{/linkTo}}
    </li>
  {{/each}}
</script>

<script type="text/x-handlebars" id="tasks">
  <h4>Tasks</h4>
  {{#each task in model}}
    {{task-detail task=task}}
  {{/each}}
</script>

<script type="text/x-handlebars" id="components/task-detail">
    <li>{{task.name}}</li>
</script>
