<section>
  <h2>Tasks (kanbanview)</h2>
  <div id="board">
    <div class="board-item">
      <h3>Backlog</h3>
    </div>
    <div class="board-item">
      <h3>To Do</h3>
    </div>
    <div class="board-item">
      <h3>In Progress</h3>
    </div>
    <div class="board-item">
      <h3>Done</h3>
    </div>
  </div>
</section>
<nav id="navbar"></nav>
