<section>
  <h2>kanbanView</h2>
  <div id="board">
  </div>
</section>
<nav id="navbar"></nav>

<script type="text/x-handlebars">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="index">
  <h4>Projects</h4>
  {{#each project in model}}
    <li class="project">
      {{#linkTo 'task_lists' project.id}}{{project.name}}{{/linkTo}}
    </li>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="task_lists">
  <h4>Task Lists</h4>
  {{#each taskList in model}}
    <li class="task_list">
      {{#linkTo '' taskList.id}}{{taskList.name}}{{/linkTo}}
    </li>
  {{/each}}
</script>

<script type="text/x-handlebars" id="tasks">
  {{#each task itemController='task'}}
  <section class="task">
    <li>{{name}}</li>
    <li>{{status}}</li>
  </section>
  {{/each}}
</script>
